*{
    margin:0;
    padding:0;
}
body{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.footer {
    position:fixed;
left:0;
right:0;
bottom:0;
text-align:center;
color:white;
background-color:rgba(0, 0, 0, 0.781);
}
.navigation-bar{
    background-color:rgb(19, 40, 110);
    height:60px;
    opacity:0.7;
}
.navigation-bar ul li{
    list-style:none;
padding:15px;
margin:5px;
    float:left;
    color:white;
    opacity:0.5;
    cursor: pointer;
}
.navigation-bar ul li:hover{
    color:green;
}
 
a{
    text-decoration: none;
    color:white;    
}
a:hover{
    color:green;
}
.container{
    position:relative;  
    left:28%;
    box-sizing: border-box;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    width:40%;
    padding-left: 135px;
    padding-top:90px;
    border-radius:20px;
    box-shadow: 5px grey;
    
top:40px;
height:400px;
   
}
.container input{
    display:flex;
}
.container label{
    font-size:14px;
    padding:20px;
    color:white;
    opacity:0.6;
   

}
.form-control{
    margin-top:10px;
}
.container button {
    margin-top:20px;
    border:0px;
    background-color: green;
    font-size:20px; 
    border-radius:10px;
    width:200px;
    height:40px;
}
.dashboard{
    height:700px;
    width: 250px;
    background-color:#faf0e6 ;
    margin:20px 0px 0px 10px;
    border-radius:20px;
    box-shadow: 5px 10px 5px 10px rgba(128, 128, 128, 0.425);
    float:left;
    
}   
.dashboard .profile-image{
    margin:10px 0px 0px 25%;
}
.dashboard ul li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;   
    font-size:15px;
    margin:20px 0px 0px 38%;
   

}
.dashboard ul li a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.6);
    padding:0px 0px 5px 0px;
}
.post-box{
    height:50px;
    position:relative;
    left:20%;
    top:20px;
    border-radius:10px;
    max-width:500px;
}

.post-box button{
    position:relative;
    border:0px;
    background-color: lightskyblue;
    font-size:20px; 
    border-radius:10px;
    width:160px;
    height:40px;
    top:200px;
    left:-200px;
    }
.post-box textarea{
    position: absolute;
    left:10%;
    border-radius:10px;
}
.setting{
    height:580px;
    width:400px;
    background-color:white;
    position:relative;
    left:30%;
    top:20px;
    border-radius:20px;
}
.setting .user-account,.profile-picture{
    height:250px;
    width:300px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
position:relative;
left:12%;
top:5%;
border-radius:5px;
margin-top:20px;
}
.user-account-child,.profile-picture-child{
    position: absolute;
}
.user-account-child input{
   color:black;
    margin:20px 0px 0px 20px;
} 
.user-account-child button {
    height:40px;
    color:white;
    width:200px;
    border:0px;
    margin:20px 0px 0px 10px;
    background-color: rgba(35, 189, 29, 0.562);
}
.user-account-child p,label{
    color:white;
}
.user-account-child label{
    font-size:14px;
  margin:5px;
}
.post{
    height:50px;
    position: absolute;
    left:20%;
    top:20px;
    border-radius:10px;
    max-width:600px;
}
.post ul li {
    list-style: none;
    padding:20px;
    margin:20px;
    font-size:19px;
    font-family: 'Open Sans', sans-serif;  
    background-color:rgba(124, 93, 93, 0.336);
    color:white;
    width:600px;
    border-radius:10px;
}
.author{
    position:relative;
    left:84%;
    bottom:10px;
    background-color:green;
    padding:10px;
    border-radius:10px;
    }
.people{
    position:relative;
    left:30%;
    top:20px;
    height:200px;
    width:400px;
    background-color: blue;
    border-radius:10px;
    margin-bottom:20px;
}
.people img{
    position:absolute;
    left:30px;
    top:10px;
}
.people span{ 
    position:relative;
    left:-40%;
    top:20px;
    font-size:16px;
}
.people button{

font-family: 'Open Sans', sans-serif;   
}
