<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Make Notes</title>
  {% endblock %}
  {% block meta %}
  <meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  
{% endblock %}
</head>
<body>
 
    {% block head %}
  <nav>
    
    <a href="/login" class="btn btn-info">Login </a>
    <a href="/register" class="btn btn-info">Register</a>
  </nav>
{% endblock %}
{% block chat %}{% endblock %}
{%block content %}{% endblock %}
{% block setting %}{% endblock %}
  {%block footer %}
<p class="footer">&copy; 2019 Dibash Thapa</p>
{% endblock %}
</body>
</html>
