<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  {% endblock %}
  <title>T&S App</title>
  {% block meta %}
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/c96d3752b6.js" crossorigin="anonymous"></script>
{% endblock %}
</head>
<body>

    {% block head %}

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="text-light navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="text-light nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">

            <!-- Button trigger modal -->
<a class="nav-link text-light" data-toggle="modal" data-target="#exampleModal">
 About
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a flask blog personally created by dibash thapa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
          </li>
          <li class="nav-item">

            <!-- Button trigger modal -->
<a class="text-light nav-link" data-toggle="modal" data-target="#exampleModalCenter">
Login
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST" >


                 <div class="form-group">
                      <label for="Email">Email </label>
                      <input type="email"  class="form-control" name="Email" >
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="Password" >
                      </div>
                      <button type="submit" class="btn btn-danger" >Login</button>


          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
          </li>
          <li class="nav-item">

            <!-- Button trigger modal -->
<a class="text-light nav-link" data-toggle="modal" data-target="#exampleModaCentelr">
 Register
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModaCentelr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">

              <div class="form-group">
                      <label for="Name">Name</label>
                      <input type="text" class="form-control"  name="Name"  >
              </div>
              <div class="form-group">
                      <label for="Email">Email </label>
                      <input type="email" class="form-control" name="Email" >
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password"  class="form-control" name="Password" >
                      </div>
                      <button type="submit" class="btn btn-danger" style="margin-bottom:20px;">Register</button>

  </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="background-image">
    </div>

{% endblock %}
{% block chat %}{% endblock %}
{%block content %}{% endblock %}
{% block setting %}{% endblock %}
  {%block footer %}
<p class="footer">&copy; 2019 Dibash Thapa</p>
{% endblock %}
<script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
