<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>T&S App</title>
  {% endblock %}
  {% block meta %}
  <meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  
{% endblock %}
</head>
<body>
 
    {% block head %}
<p class="lead text-primary bg-success text-center" >Welcome to T&S App.</p>
<div  style="height:500px;">
  <p class="lead text-center">Login & Register</p>

 <label for="name">Log in as</label>
 <ul>
   <li><a href="/login/student">Student</a></li>
   <li><a href="/register/teacher">Teacher</a></li>
 </ul>
<label for="name">Register As:</label>
<ul>
  <li><a href="/register/teacher">Teacher</a></li>
  <li><a href="/register/student">Student</a></li>
</ul>
</div>
{% endblock %}
{% block chat %}{% endblock %}
{%block content %}{% endblock %}
{% block setting %}{% endblock %}
  {%block footer %}
<p class="footer">&copy; 2019 Dibash Thapa</p>
{% endblock %}
</body>
</html>
