{% extends "base.html" %}
{% if Status==True %}
{% block head %}{% endblock %}
{% block content %}
<h1>Welcome {{Name}}</h1>
<nav>
<ul class="list-group"> 
  <li class="list-group-item"><a href="/notes">Make Notes</a></li>
  <li class="list-group-item"><a href="/todo">Make ToDoList</a></li>
  <li class="list-group-item"><a href="/blog">Create a blog</a></li>
  <li class="list-group-item"><a href="/result">View Results</a></li>
  <li class="list-group-item"><a href="/chat">Chat</a></li>
  <li class="list-group-item"><a href="/profile">Settings</a></li>
</ul>
</nav>
{% endblock %}
{% endif  %}


