{% extends "base.html" %}
{%block head%}
{% if status==False%}
<p style="color:red">Invalid username or password</p>
{% endif %}
{% endblock %}
{% block content %}

<form action="/login" method="POST">
    <div class="container">
        
           <div class="form-control">
                <label for="Email">Email </label>
                <input type="email"  name="Email" style="width:200px;">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="Password" style="width:200px;">
                </div>  
                <button type="submit" >Login</button>
    </div>
    
    </form>

{% endblock %}