{% extends "base.html" %}
{%block head%}


{% endblock %}
{%block content%}
        <form action="/register" method="POST">
        <div class="container">
            <div class="form-control">
                    <label for="Name">Name</label>
                    <input type="text"  name="Name" style="width:200px;"> 
            </div>
            <div class="form-control">
                    <label for="Email">Email </label>
                    <input type="email"  name="Email" style="width:200px;">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="Password" style="width:200px;">
                    </div>  
                    <button type="submit" >Register</button>
        </div>

        </form>


{%endblock%}